/* Fonts included
             font-family: 'Alfa Slab One', cursive;
             font-family: 'Montserrat', sans-serif;
*/



    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
      font-family: 'Montserrat', sans-serif;
    }

    footer {
      margin-top: 30px;
      color: #999999;
    }

    .anchorfix {
      padding-top: 50px;
    }

    .top-headline {
      text-align: center;
      font-size: 27px;
      font-family: 'Alfa Slab One', cursive;
      line-height: 1.3;
      color: black;
      margin-top: 30px;
      margin-bottom: 40px;
    }

    h2 {
      font-weight: normal;
    }

    .brand {
      font-family: 'Alfa Slab One', cursive;
    }

    .brand-footer {
      text-align: center;
      font-size: 25px;
      line-height: 1.3;
      color: black;
    }

    dl {
      margin-left: 20px;
    }

    dt {
      margin-top: 10px;
    }

    .eventbrite_container {
     /* display: none; */
    }
 
    #google_translate_element {
      margin-top: 20px;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 25px;
      font-family: 'Alfa Slab One', cursive;
      color: white;
      cursor: pointer;
    }

    .navbar a.brand {
      cursor: pointer;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE Carousel
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 20px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      color: yellow;
    }

    .carousel .item {
      height: 500px;
    }

    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: #000;
      position: static;
      max-width: 550px;
      padding: 20px 20px;
      margin-top: 100px;
      opacity:0.9;
      filter:alpha(opacity=90); /* For IE8 and earlier */
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    }

    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    .marketing  {
      margin-top: 100px;
    }


    /* About
    ------------------------- */

    #about {
    }


    /* What's Covered
    ------------------------- */

    .whatscovered .row-fluid {
      margin-top: 100px;
    }

    .whatscovered h2 {
      text-decoration: underline;
    }

    .whatscovered p.lead {
      color: #777777;
    }

    .whatscovered p.topicheader {
      text-decoration: underline;
    }

    .whatscovered ul.topics {
      color: #777777;
    }


    /* Registration
    ------------------------- */

    #register {
    }

    .eventbrite_container {
      margin-top: 50px;
    }


    /* Mailchimp stuff */
    
    #mc_embed_signup {
      border: 1px solid #777;
      padding: 10px;
    }
    
    #mc-embedded-subscribe {
      margin-top: 10px;      
    }

    
    
    /* RESPONSIVE CSS
    -------------------------------------------------- */

    /* -- @media (max-width: 979px) {  -- original */
    @media (max-width: 1028px) {

      .navbar-fixed-top {
        margin-bottom: 0px;
      }
      
      .navbar-fixed-top .navbar-inner {
        padding-top: 0px;
        padding-bottom: 0px;
      }
     
      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .carousel-caption {
        width: 65%;
        padding: 20px 20px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 35px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

    }



    /* @media (max-width: 767px) { -- original */
    @media (max-width: 767px) {

      .navbar-fixed-top .navbar-inner {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }

      .carousel .item {
        height: 300px;
      }

      .carousel img {
        height: 300px;
      }

      .carousel-caption {
        width: 65%;
        padding: 20px 20px;
        margin-top: 50px;
      }
      .carousel-caption h1 {
        font-size: 25px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 15px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

    }
